# Giải thích cross join

In [1]:
import pandas as pd

df1 = pd.DataFrame({'key1': ['A', 'B', 'C']})
df2 = pd.DataFrame({'key2': [1, 2, 3]})
print("DataFrame 1:")
display(df1)
print("DataFrame 2:")
display(df2)

# Thêm cột tạm thời với giá trị 1 vào cả hai DataFrame
df1['tmp'] = 1
df2['tmp'] = 1

# Thực hiện phép merge trên cột tạm thời này
cross_joined_df = pd.merge(df1, df2, on='tmp').drop('tmp', axis=1)

print("DataFrame sau khi thực hiện cross join:")
display(cross_joined_df)

DataFrame 1:

  key1
0    A
1    B
2    C

DataFrame 2:

   key2
0     1
1     2
2     3

DataFrame sau khi thực hiện cross join:

  key1  key2
0    A     1
1    A     2
2    A     3
3    B     1
4    B     2
5    B     3
6    C     1
7    C     2
8    C     3